@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

body {
  margin: 0;
  font-size: 15px;
  font-family: "Outfit", sans-serif;
  background-color: hsl(212, 45%, 89%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10% 0;
}

.wrapper--graphic {
  background-image: url("images/images/image-qr-code.png");
  background-repeat: no-repeat;
  border-radius: 16px;
  width: 288px;
  height: 288px;
  background-position: center;
  background-size: contain;
}
.wrapper {
  width: 320px;
  height: 483px;
  padding-top: 17px;
  /* margin-top: 288px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  /* background-color: blue; */
  border-radius: 16px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.16);
}
h1 {
  color: hsl(218, 44%, 22%);
  font-size: 21px;
}
.wrapper--paragraph {
  font-size: 15px;
  margin: 0;
  color: hsl(220, 15%, 55%);
  text-align: center;
  width: 248px;
}
.wrapper--header {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px 36px 0px 36px;
  /* padding: 0 10px; */
}
